/* --------------------------------------------------------------------------------------------- */
/* BIG TABLET - SMALL LAPTOPS 1024 -1200PX */
/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }

}

/* --------------------------------------------------------------------------------------------- */
/* SMALL TABLET TO BIG TABLET 768 -1023PX */
/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1023px){

body {
    font-size: 18px;
}

section {
    padding: 60px 0;
}

.long-copy {
    width: 80%;
    margin-left: 10%;
}





}
























/* --------------------------------------------------------------------------------------------- */
/* SMALL PHONES TO SMALL TABLETS 481 - 767PX */
/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 767px){

}



/* --------------------------------------------------------------------------------------------- */
/* SMALL PHONES 0 - 480PX */
/* --------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 480px){

}